@import "game-timer";

.game-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	&__row {
		margin-bottom: 0.3em;
		display: flex;
		justify-content: space-between;
	}

	&__input {
		flex-grow: 1;
		margin: 0em 0.1em;

		&[name='manager'] {
			margin: 0 2em;
		}
	}

	&__players-list {
		width: clamp(50vw, 250px, 80vw);
	}

	&__title {
		margin: 10px 0 20px 0;
		text-align: center;
		font-size: 2em;
		text-transform: uppercase;
	}

	&__label {
		flex-grow: 1;
	}

	&__subtitle {
		margin: 5px 0 10px 0;
		text-align: center;
		font-size: 1.6em;
		text-transform: uppercase;
	}

	&__pool {
		display: flex;
		flex-wrap: wrap;

		&-unit {
			display: flex;
			margin: 0.1em 0.2em;

			&.add {
				display: inline-block;
				border: 1px solid #94d7a8;
				border-radius: 5px;
				padding: 0.2em 0.3em;
				cursor: pointer;
				transition: all $animation-fast ease-in-out;
				width: max-content;
				flex-grow: 0;
				color: $color-text-menu;

				&:hover {
					background-color: #067018;
				}
			}
		}

		&-name {
			display: inline-block;
			border: 1px solid $bg-color-green-blur;
			border-radius: 5px 0 0 5px;
			padding: 0.2em 0.3em;
			cursor: pointer;
			transition: all $animation-fast ease-in-out;
			width: max-content;
			flex-grow: 0;
			color: $color-text-dark-blur;

			&:hover {
				background-color: $bg-color-green; //#0a494d;
			}

			&.selected,
			&.manager {
				background-color: $bg-color-light-red-blur;
				border-color: $bg-color-light-red-blur;
				text-decoration: line-through;

				&:hover {
					background-color: $bg-color-light-red;
				}
			}
		}

		&-remove {
			border: 1px solid $bg-color-green-blur;
			border-radius: 0 5px 5px 0;
			padding: 0.2em 0.3em;
			flex-grow: 0;
			cursor: pointer;
			transition: all $animation-fast ease-in-out;

			&:hover {
				border-color: $button-remove-color-hover;
				color: $button-remove-color-hover;
			}
		}
	}

	&__button {
		@extend %buttonStyle;
	}

	input,
	select {
		background-color: $bg-color-input;
		text-align: center;
		border: 0;
		font-size: 1.4em;
		color: $color-text-dark;

		&[placeholder] {
			color: $color-text-dark;
		}

		option {
			color: $bg-color-input;
		}
	}
}

.game {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	white-space: nowrap;

	@include md {
		padding: 10px;
		margin: 10px;

		&__wrapper {
			display: flex;
			flex-direction: row-reverse;
			gap: 2em;
		}

		&__description {
			display: flex;
			flex-direction: column-reverse;
			justify-content: flex-end;
			width: 40vw;
			padding-top: 3em;
		}
	}

	&__stage {
		text-align: center;
		max-width: 100vw;
		white-space: normal;
	}

	&__vote {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: .5rem;

		&-row {
			display: flex;
			align-items: start;
		}

		&-input {
			text-align: center;
			width: 3em;
			font-size: 1.7rem;
		}

		&-button {
			font-size: .7rem;
		}
	}

	&__log {
		&-entity {
			display: grid;
			grid-template-columns: 1fr 5fr;
			margin-bottom: 0.5em;
			border-bottom: 3px double $color-text-main;
		}
	}

	&__table {
		border-collapse: collapse;
		width: 95vw;
		font-size: 1.8em;

		@include md {
			width: 100%;
		}

		td,
		th {
			border: 1px solid $color-text-menu;
			padding: 0.3em 0.6em;
			user-select: none;
		}

		th {
			text-align: center;
		}

		tr>td:first-of-type {
			text-align: center;
		}

		.player {
			&:nth-child(odd) {
				background-color: $bg-color-light;
			}

			&.out {
				background-color: $bg-color-light-red-blur;
				color: $bg-color-dark;
				text-decoration: line-through;
			}

			&.shooted {
				background-color: $bg-color-light-red-blur;
				animation: rowShootedPlayer 1s ease-out infinite;
			}

			&.best-moved {
				background-color: #6c4010;
				animation: rowForBestMove 1s ease-out infinite;
			}

			&.speaker {
				background-color: $bg-color-green;
				animation: activeSpeaker 1.5s ease-out infinite;
			}

			.positive {
				color: $bg-color-green;
			}

			.negative {
				color: #be0020;
			}

			.fail {
				&[data-foul="1"] {
					background-color: #6cbf6ccc;
				}

				&[data-foul="2"] {
					background-color: #ececabe0;
				}

				&[data-foul="3"] {
					background-color: #f97f7f;
					text-align: center;
				}

				&[data-foul="4"] {
					background-color: #393939;
				}
			}

			&__number {
				cursor: pointer;
			}

			&__info {
				cursor: pointer;
			}

			&__name {
				position: relative;
				padding: 5px 10px;
				white-space: nowrap;
				user-select: none;
			}

			&__prim {
				position: absolute;
				pointer-events: none;
				pointer-events: none;
				top: 0.3em;
				right: -7em;
				font-weight: 700;
				letter-spacing: .2em;
				opacity: .25;
				color: $bg-color-light-red-blur;
				mix-blend-mode: difference;
			}

			&-data {
				&__fouls {
					border: 1px solid $color-text-main;
					cursor: pointer;
				}
			}
		}
	}
}
.pointlog{
	position: absolute;
	z-index: 2;
	background-color: $bg-color-light-odd;
	pointer-events: none;
	right: -120%;
	padding: .5em 1em;
	border-radius: 5px;
	border: 2px solid $bg-color-red;
	&__title{
		margin-bottom: .5em;
	}
	&__row{
		display: flex;
		justify-content: space-between;
		margin-bottom: .3em;
		border-bottom: 1px dotted $bg-color-red;
	}
	&__label{
		margin-right: 1em;
	}
	&__result{
		display: flex;
		justify-content: space-between;
		padding-top: .2em;
		border-top: 1px solid $bg-color-red;
	}
}

.hidden {
	display: none;
}

@keyframes activeSpeaker {
	50% {
		background-color: $bg-color-green-blur;
	}

	100% {
		background-color: $bg-color-green;
	}
}

@keyframes rowFixing {
	50% {
		background-color: $bg-color-blue-blur;
	}

	100% {
		background-color: $bg-color-blue;
	}
}

@keyframes rowShootedPlayer {
	50% {
		background-color: $bg-color-light-red;
	}

	100% {
		background-color: $bg-color-light-red-blur;
	}
}

@keyframes rowForBestMove {
	50% {
		background-color: $bg-color-red-blur;
	}

	100% {
		background-color: #6c4010;
	}
}