.timer {
	&__caption{
		font-size: 2em;
		padding: 10px;
		display: flex;
		justify-content: center;
		gap: 1em;
	}
	&__dashboard{
		position: fixed;
		bottom: 0;
		left:0;
		z-index: 2;
		width: 100%;
		background-color: $bg-color-dark;
		display: flex;
		&-item{
			flex-grow: 1;
			font-size: 5em;
			text-align: center;
			border: 1px solid $bg-color-light;
		}
	}
	button{
		font-size: .6em;
	}
	.stopwatch{
		font-size: 1.8em;
	}
	&__control {
		font-size: 5em;
		display: flex;
		justify-content: space-evenly;
		&-button {
			padding: 10px 20px;
			cursor: pointer;
			transition: all $animation-fast ease-in;
			&.disabled {
				pointer-events: none;
			}
			&.hidden {
				display: none;
			}
			&[data-timer-action="undo"] {
				color: #f7a0ff;
				&:hover {
					color: #ee54fc;
				}
			}
			&[data-timer-action="reset"] {
				color: #b09dff;
				&:hover {
					color: #724bff;
				}
			}
			&[data-timer-action="start"] {
				color: #a2fdc8;
				&:hover {
					color: #0ec55b;
				}
			}
			&[data-timer-action="next"] {
				color: #c8e1f5;
				&:hover {
					color: #087ddd;
				}
			}
		}
	}
}
