@import "game-timer";
.game-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	&__row{
		margin-bottom: 0.3em;
		display: flex;
		justify-content: space-between;
	}
	&__input{
		flex-grow: 1;
		margin: 0em 0.1em;
	}
	&__players-list{
		width: clamp(50vw, 250px, 80vw);
	}
	&__title {
		margin: 10px 0 20px 0;
		text-align: center;
		font-size: 2em;
		text-transform: uppercase;
	}
	&__subtitle {
		margin: 5px 0 10px 0;
		text-align: center;
		font-size: 1.6em;
		text-transform: uppercase;
	}
	&__pool {
		display: flex;
		flex-wrap: wrap;
		&-unit{
			display: flex;
			margin: 0.1em 0.2em;
			&.add{
				display: inline-block;
				border: 1px solid #94d7a8;
				border-radius: 5px;
				padding: 0.2em 0.3em;
				cursor: pointer;
				transition: all $animation-fast ease-in-out;
				width: max-content;
				flex-grow: 0;
				color: $color-text-menu;
				&:hover {
					background-color: #067018;
				}
			}
		}
		&-name{
			display: inline-block;
			border: 1px solid #94d7cd;
			border-radius: 5px 0 0 5px;
			padding: 0.2em 0.3em;
			cursor: pointer;
			transition: all $animation-fast ease-in-out;
			width: max-content;
			flex-grow: 0;
			color: $color-text-menu;
			&:hover {
				background-color: #0a494d;
			}
			&.selected {
				background-color: #7714149e;
				border-color: #aa1414;
				text-decoration: line-through;
				&:hover {
					background-color: #771414;
				}
			}
		}
		&-remove{
			border: 1px solid #94d7cd;
			border-radius: 0 5px 5px 0;
			padding: 0.2em 0.3em;
			flex-grow: 0;
			cursor: pointer;
			transition: all $animation-fast ease-in-out;
			&:hover {
				border-color: $button-remove-color-hover;
				color: $button-remove-color-hover;
			}
		}
	}
	&__button{
		@extend %buttonStyle;
	}
	input,
	select {
		background-color: $bg-color-input;
		text-align: center;
		border: 0;
		font-size: 1.4em;
		color: $color-text-menu;
		&[placeholder] {
			color: $color-text-menu;
		}
		option {
			color: $bg-color-input;
		}
	}
}
.game {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px;
	margin: 10px;
	white-space: nowrap;
	&__stage {
		text-align: center;
		max-width: 100vw;
		white-space:normal;
	}
	&__log{
		&-entity{
			display: grid;
			grid-template-columns: 1fr 5fr;
			margin-bottom: 0.5em;
			border-bottom: 3px double $color-text-main;
		}
	}
	&__table {
		border-collapse: collapse;
		width: 100vw;
		font-size: 1.8em;
		background-color: #062744bd;
		@include md{
			width: clamp(40vw, 250px, 80vw);
		}
		td,th{
			border: 1px solid $color-text-menu;
			padding: 0.3em 0.6em;
			user-select: none;
		}
		th {
			// padding: 0.3em 0.6em;
			text-align: center;
		}
		tr > td:first-of-type{
			text-align: center;
		}
		.player {
			border-bottom: 1px dashed $color-text-main;
			&.out {
				background-color: #d92020;
				color: $bg-color-dark;
				text-decoration: line-through;
			}
			&.fixing {
				background-color: #06409d;
				animation: rowFixing 4s ease-out infinite;
			}
			&.shooted {
				background-color: #97003f;
				animation: rowShootedPlayer 1s ease-out infinite;
			}
			&.best-moved {
				background-color: #6c4010;
				animation: rowForBestMove 1s ease-out infinite;
			}
			&.speaker {
				background-color: #0d5023;
				animation: activeSpeaker 1.5s ease-out infinite;
			}
			.positive{
				color:#0d5023;
			}
			.negative{
				color:#be0020;
			}
			.fail{
				&[data-foul="1"] {
					background-color: #6cbf6ccc;
				}
				&[data-foul="2"] {
					background-color: #ececabe0;
				}
				&[data-foul="3"] {
					background-color: #f97f7f;
					text-align: center;
				}
				&[data-foul="4"] {
					background-color: #393939;
				}
			}
			&__number {
				cursor: pointer;
			}
			&__info {
				cursor: pointer;
			}
			&__name {
				padding: 5px 10px;
				white-space: nowrap;
				user-select: none;
			}
			&-data {
				&__fouls {
					border: 1px solid $color-text-main;
					cursor: pointer;
				}
			}
		}
	}
}
.hidden {
	display: none;
}
@keyframes activeSpeaker {
	50% {
		background-color: #0d502381;
	}
	100% {
		background-color: #0d5023;
	}
}
@keyframes rowFixing {
	50% {
		background-color: #06409d88;
	}
	100% {
		background-color: #06409d;
	}
}
@keyframes rowShootedPlayer {
	50% {
		background-color: #97003f8a;
	}
	100% {
		background-color: #97003f;
	}
}
@keyframes rowForBestMove {
	50% {
		background-color: #6c40108a;
	}
	100% {
		background-color: #6c4010;
	}
}
