#overlay {
    position: fixed; /* всегдa перекрывaет весь сaйт */
	z-index: 6; /* пoдлoжкa дoлжнa быть выше слoев элементoв сaйтa, нo ниже слoя мoдaльнoгo oкнa */
	background-color: #000; /* чернaя */
	opacity: 0.8; /* нo немнoгo прoзрaчнa */
	width: 100%;
	height: 100%; /* рaзмерoм вo весь экрaн */
	top: 0; /* сверху и слевa 0, oбязaтельные свoйствa! */
	left: 0;
}

.modal {
    box-shadow: -1px 1px 10px 3px #b1c0fb;
    transition: all $animation-fast ease-in;
    border-radius: 5px;
    margin-top: 3vh;

	&__overlay {
		position: fixed; /* чтoбы oкнo былo в видимoй зoне в любoм месте */
		width: 100vw;
		height: 100vh;
		top: 0px;
		left: 0px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $modal-overlay-bg-color;
        // padding: 1em;
        // box-sizing: border-box;
	}
    &__header {
        background: linear-gradient($modal-hd-start 20%, $modal-hd-end 90%);
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.2rem;
        padding: 0 0.5em;
        color: $modal-title-color;
    }
	&__container {
        position: relative;
        // background: linear-gradient(#c3ecff 40%, #f3f0ce 90%);
        background: url("/public/images/blood-sprite.png"), linear-gradient($modal-bg-start 40%, $modal-bg-end 90%);
        background-size: contain, auto;
        background-repeat: no-repeat, repeat;
        border-radius: 0px 0px 3px 3px;
        padding: 1em 2em;
        color: $modal-color;
    }
    & &__close {
        cursor: pointer;
        transition: color $animation-fast ease-in;

        &:hover {
            color: #ff1010;
        }
    }
	&__title {
        margin: 0.4em;
        text-align: left;
        padding-right: 1em;
    }
	&__form{
		&-title {
			margin: 0.2em 1em 0.5em 1em;
			background-color: #ffc85fd4;
			border-radius: 15px;
			padding: 0.15em;
			text-align: center;
		}
		&-subtitle{
			margin: 0.3em auto;
			text-align: center;
		}
	}
	&__row {
		margin-bottom: 1em;
		&-title {
			text-align: center;
			margin-top: 1em;
			margin-bottom: 0.5em;
		}
		&.big-list {
			max-height: 55vh;
			overflow-y: auto;
			scrollbar-width: thin;
			font-size: 1.2em;
			padding-right: 10px;
		}
		&-label {
			&-file {
				display: block;
				text-align: center;
				font-size: 1.2em;
				line-height: 1.3em;
				cursor: pointer;
			}
		}
	}
    &__buttons {
        margin-top: 0.8em;
        margin-bottom: 0.5em;
        display: flex;
        justify-content: space-around;
    }
	&__links {
		margin-top: 0.5em;
		margin-bottom: 0.3em;
		display: flex;
		justify-content: space-between;
	}

	button,
	a.anchor-button {
		@extend %buttonStyle;
		margin: 5px auto;
	}

	&__input {
		width: 100%;
		border: 0;
		outline: none;
		border-bottom: 1px solid grey;
		background-color: transparent;
		text-align: center;
		font-size: 1.2em;
		line-height: 1.3em;
		color: $color-text-blur;
	
		&:focus {
			border-bottom-color: $color-text-dark;
		}
	
		&[type="file"] {
			display: none;
		}
	}

	&__select {
		width: 100%;
		border: 0;
		outline: none;
		border-bottom: 1px solid grey;
		background-color: transparent;
		text-align: center;
		font-size: 1.2em;
		color: $color-text-blur;
	}

	*[data-action-click] {
		cursor: pointer;
	}

	&__divided-block {
		display: flex;
		border: 1px solid $color-text-blur;
		padding: 1em 2em;
		border-radius: 3px;
	}
	
	&__column {
		flex: 1 1 20vw;
		margin-right: 1em;
		max-width: 40vw;
	
		&:last-of-type {
			margin-right: 0;
		}
	
		&.shrinked {
			flex: 0 1 20vw;
		}
	
		&.growed {
			flex: 1 0 20vw;
		}
	}
	
}