.notices{
/*     width: 100%;
    transition: height $animation-fast; */
    color: $color-text-dark;
    font-size: 0.8em;

    position: absolute;
    right: 0;
    max-width: 60vw;
    display: flex;
    flex-direction: column;
    z-index: 999;
    opacity: .85;

    .notice{
        // padding: .3em 1.5em;

        padding: 1em 2em;
        border-radius: 2px;
        margin-bottom: .8em;
        
        display: flex;
        justify-content: space-between;
        gap: 1em;
        background-color: $notice-bg-color;
        transition: padding $animation-fast, margin $animation-fast, opacity $animation-fast, height $animation-fast, color $animation-very-fast;
        &__close{
            cursor: pointer;
            font-size: 2em;
            &:hover{
                color: $bg-color-red-blur;
            }
        }
        &.info{
            background-color: $notice-bg-color-info;
        }
        &.error{
            background-color: $notice-bg-color-error;
        }
    }
    @include md {
/*         position: absolute;
        right: 0;
        max-width: 60vw;
        display: flex;
        flex-direction: column;
        z-index: 999;
        opacity: .85; */
        max-width: 30vw;
        .notice{
            /* padding: 1em 2em;
            border-radius: 2px;
            margin-bottom: .8em; */
            &__close{
                font-size: 1em;
            }
        }
    }
}