.notices{
    width: 100%;
    color: $color-text-dark;
    font-size: 0.8em;
    transition: height $animation-fast;
    .notice{
        padding: .3em 1.5em;
        display: flex;
        justify-content: space-between;
        background-color: $notice-bg-color;
        transition: opacity $animation-fast;
        &__close{
            cursor: pointer;
            &:hover{
                color: $bg-color-red-blur;
            }
        }
        &.info{
            background-color: $notice-bg-color-info;
        }
        &.error{
            background-color: $notice-bg-color-error;
        }
    }
    @include md {
        position: absolute;
        right: 0;
        max-width: 30vw;
        display: flex;
        flex-direction: column;
        gap: .8em;
        z-index: 999;
        opacity: .85;
        .notice{
            padding: 1em 2em;
            border-radius: 2px;
        }
    }
}