.page {
	&__item{
		&-logo {
			float: left;
			width: 20vw;
			padding: 0 10px 0 5px;
			text-indent: 0;
			&_image {
				width: 100%;
				height: auto;
			}
		}
		&-title{
			font-size: 2.5em;
			margin: 0.2em 0 0.4em 0;
			text-align: center;
		}
		&-subtitle{
			font-size: 2em;
			margin: 0.1em 0 0.2em 0;
		}
	}
}
