//Custom alert, confirm and prompt
.popup {
    position: fixed;
    z-index: 10;
    margin: 15vh auto auto auto;
    border: none;
    outline: 1px solid gray;
    border-radius: 5px;
    padding: 1em;
    pointer-events: auto;

    &__overlay {
        position: absolute;
        width: 100vw;
        height: 100vh;
        top: 0;
        pointer-events: none;
    }

    &__title {
        margin: 0;
        border-bottom: 1px solid black;
        padding: .5em 0;
        cursor: grab;

        &:active {
            cursor: grabbing;
        }
    }

    &__text {
        margin: 1em 0;

        .positive {
            color: $bg-color-green;
        }

        .negative {
            color: $bg-color-red-blur;
        }

        p {
            margin-bottom: .5em;
        }
    }

    &__input {
        border-radius: 5px;
        outline: none;
        padding: .2em .4em;

        &-wrapper {
            text-align: center;
            margin: 1em 0;
        }
    }

    &__button {
        padding: .4em 1em;
        box-sizing: content-box;
        cursor: pointer;

        &-wrapper {
            display: flex;
            justify-content: space-evenly;
        }

        &.positive {
            padding: .4em 2em;
        }
    }

    &__numpad {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: .1em;
        margin: .5em 1em
    }

    &__rolepad {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: .1em;
        margin: .5em 1em
    }

    &__checkbox {
        &-wrapper {
            border: 1px solid black;
            border-radius: 2px;
        }

        &-label {
            font-size: 4em;
            display: inline-block;
            width: 100%;
            text-align: center;
        }

        &:checked~label {
            background-color: $bg-color-green-blur;
            color: $color-text-accent;
        }

        &:disabled~label {
            background-color: $bg-color-dark-blur;
            color: $color-text-dark-blur;
        }
    }

    &__radio {
        &-wrapper {
            border: 1px solid black;
            border-radius: 2px;
        }

        &-label {
            font-size: 4em;
            display: inline-block;
            width: 100%;
            text-align: center;
        }

        &:checked~label {
            background-color: $bg-color-green-blur;
            color: $color-text-accent;
        }

        &:disabled~label {
            background-color: $bg-color-dark-blur;
            color: $color-text-dark-blur;
        }
    }

    @import "popups/images";
}

.info {
    position: fixed;
    background-color: $bg-color-light;
    pointer-events: none;
    z-index: 1000;
    padding: .3em .6em;
    line-height: 1.5em;
    color: $bg-color-dark-blur;
    opacity: .9;
    border-radius: 3px;
}