.modal{
    .profile__avatar-place {
        display: inline-block;
        width: 18vw;
        padding: 5px;
        border: 1px solid #221740;
        border-radius: 5px;
        img {
            width: 100%;
        }
    }
    .big-avatar{
        img{
            max-height: 60vh;
            max-width: 30vw;
        }
    }
}