.week {
		margin-bottom: 50px;
		&__title {
			margin-top: 20px;
			margin-bottom: 15px;
			font-size: 3em;
			display: flex;
			justify-content: space-between;
			text-align: justify;
			&-link, &-dummy{
				color: $color-text-dark-blur;
				font-size: 0.7em;
				align-self: flex-end;
			}
		}
		&__list {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			gap: 0.5em;
		}
		&__item {
			background-color: $bg-color-light-odd;
			border-radius: 3px;
			padding: 1em 1.2em;
			border: 1px solid $color-text-menu;
			cursor: pointer;
			transition-property: border-color, transform;
			transition: $animation-fast ease-in-out;
			flex: 1 1 15em;
			min-height: 12em;
			&:nth-child(2n) {
				background-color: $bg-color-light;
			}
			@include md {
				&:last-of-type {
					max-width: 20em;
				}
			}
			// @include lg {
			// 	&:last-of-type {
			// 		grid-column: 2 / 3;
			// 		justify-self: center;
			// 		width: 100%;
			// 	}
			// }
			// @include xl {
			// 	&:last-of-type {
			// 		grid-column: 2 / 3;
			// 		justify-self: center;
			// 		width: 100%;
			// 	}
			// }
			&.day {
				&-expire {
					filter: brightness(60%) blur(1px);
				}
				&-current {
					filter: brightness(150%) hue-rotate(360deg);
					animation: currentDayAnimation $animation-very-slow infinite;
				}
				&-future {
					filter: brightness(90%);
				}
			}
			&:hover {
				border-color: $color-item-border-hover;
				transform: translateY(-0.3em);
				&.day {
					&-expire {
						filter: none;
					}
					&-future {
						filter: brightness(120%);
					}
				}
			}
			&-date {
				white-space: nowrap;
				margin-bottom: 0.8em;
				font-size: 1em;
				text-align: center;
			}
			&-game {
				margin-bottom: 1em;
				font-size: 1.4em;
				text-align: center;
			}

			&-logo {
				width: 50px;
				height: 60px;
				padding: 5px 10px 5px 0;
				float: left;
				img {
					width: 100%;
				}
			}
			&-content {
				font-size: 0.7em;
			}
			.day-participants {
				&__list {
					display: grid;
					grid-template-columns: 1fr 1fr;
					&-item {
						margin: 0 0.5em;
						font-size: 1.2em;
						line-height: 1.3em;
					}
				}
			}
		}
		&__read-more {
			position: absolute;
			bottom: 20px;
			width: 88%;
			font-size: 0.7em;
			&-link {
				float: right;
				color: $color-text-main;
				cursor: pointer;
			}
		}
		&__dashboard {
			font-size: 1.1rem;
			.fa {
				margin-right: 5px;
				cursor: pointer;
				&:hover {
					color: $color-text-menu;
				}
			}
		}
		&__links {
			display: flex;
			justify-content: center;
			padding: 10px 0;
			> span {
				margin: 0 1em;
				align-self: flex-end;
				cursor: default;
			}
			> a {
				margin: 0px 3px;
				padding: 3px 5px;
				border: 1px solid $color-text-main;
				text-decoration: none;
				color: $color-text-main;
				transition: all $animation-fast ease-in;
				&:hover {
					background-color: $color-text-main;
					color: $bg-color-dark;
				}
				&.active {
					margin: 0px 10px;
					border: 1px solid $bg-color-dark;
				}
				&:not([href]) {
					cursor: not-allowed;
					&:hover {
						background-color: $color-text-menu;
						color: $color-text-dark-blur;
					}
				}
			}
		}
}

@keyframes currentDayAnimation {
	50% {
		filter: brightness(90%) hue-rotate(300deg);
	}
	100% {
		filter: brightness(150%) hue-rotate(360deg);
	}
}
