@import "tech/mixins_adapt";
@import "tech/vars";

.booking {
    margin: 20px auto 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__form {
        border-radius: 2px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
    }

    &__header {
        display: flex;
        gap: 2em;
        align-items: center;
    }

    &__navlink {
        a {
            color: $color-text-dark-blur;
            white-space: nowrap;
        }

        font-size: 1.5em;
    }

    &__title {
        margin: 10px 0 20px 0;
        text-align: center;
        font-size: 1.6em;
        text-transform: uppercase;
        flex-grow: 1;

        @include md {
            display: none;
        }

        &.tablet {
            display: none;

            @include md {
                display: block;
            }
        }
    }

    &__subtitle {
        margin: 5px 0 10px 0;
        text-align: center;
        font-size: 1.4em;
        text-transform: uppercase;
    }

    &__body {
        background-color: $bg-color-light;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        padding: 1em 1em 2em 1em;

        @include md {
            padding: 2em 2em 4em 2em;
        }
    }

    &__value {
        flex: 1 1 50px;

        input,
        select {
            width: 100%;
        }


    }

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;

        &.submit {
            position: fixed;
            bottom: 5em;
            right: 1em;
            font-size: 1.5em;
            flex-direction: column-reverse;
            gap: .3em;
            align-items: center;

            @include md {
                flex-direction: row;
                position: static;
                bottom: 0;
                right: 0;
                font-size: 1em;
            }
        }
    }

    &__participants {
        margin: 20px 0 10px 0;
    }

    &__label {
        font-size: 1.2em;
        flex: 1 1 25px;
        display: none;

        @include md {
            display: block;
        }

        .centered {
            text-align: center;
        }
    }

    .participant {
        display: flex;
        align-items: center;
        margin: 10px 0;

        &__num {
            width: 1.5em;
            height: 1.5em;
            padding: .2em .25em;
            display: flex;
            font-size: .8em;
            justify-content: center;
            align-items: center;
            background-color: $bg-color-light-red-blur;
            border-radius: 50%;
        }

        &__arrive {
            width: 70px;
        }

        &__name {
            display: inline-block;
            width: 25vw
        }

        &__prim {
            display: inline-block;
            width: 25vw
        }

    }

    &__buttons {
        display: flex;
        justify-content: space-evenly;
        margin: 20px 0;
    }

    &__self {
        display: flex;
        justify-content: space-around;
        margin-top: 1em;
        margin-bottom: 2em;
    }

    .cb {
        &__label {
            font-size: 1.8em;
        }
    }


    input,
    textarea,
    select {
        background-color: $bg-color-input;
        border: 0;
        font-size: 1.2rem;
        color: $color-text-black;
        box-shadow: inset 1px 1px 2px $bg-color-dark-blur;

        &::placeholder {
            color: rgba($color-text-dark-blur, 0.65);
        }

        &:hover {
            box-shadow: inset 0px 0px 3px $bg-color-light-blue;
        }

        &:focus {
            outline: 1px solid $bg-color-light-red;
            // outline: 0;
            // border-bottom: 1px solid $bg-color-light-red;
        }

        option {
            color: $bg-color-input;
        }

        &::-webkit-calendar-picker-indicator {
            display: none !important;
        }
    }

    input,
    select {
        text-align: center;
    }

    textarea {
        width: 100%;
        resize: vertical;
        padding: .2em .5em;
        box-sizing: border-box
    }
}