@import "tech/vars";
@import "tech/mixins_adapt";
@import "tech/components";

.form {
	background-color: $body-bg-color;
	padding: 2em 2em 1em 2em;

	label {
		cursor: pointer;
		transition: filter $animation-fast;

		&:hover {
			color: $color-text-section-title
		}

		&.blocked {
			filter: grayscale(90%);
		}
	}

	input[type='file'] {
		display: none;
	}

	&__title {
		margin-bottom: .3em;
	}

	&__image {
		height: 10vh;
		width: auto;
	}

	&__columns {
		display: flex;
		flex-direction: column;

		@include md {
			flex-direction: row;
			gap: 1em;
			padding: 0;
		}
	}

	&__column {
		flex-grow: 1;
		flex-shrink: 1;
	}

	&__row {
		display: flex;
		align-items: baseline;
		margin-bottom: .2em;
		gap: .5em;
	}

	&__label {
		// font-size: 0.8em;
		white-space: nowrap;
		flex: 0 0 10vw;
		min-width: 75px;
	}

	&__input {
		flex-grow: 1;
		margin: 5px 0px;
		background-color: $bg-color-light-odd;
		color: $color-text-dark;
		border: none;
		border-bottom: 1px solid $color-text-dark-blur;
		outline: none;
		padding: 2px 5px 0px 5px;
		width: 100%;

		&.logo {
			color: transparent;
		}

		&:active,
		&:focus {
			border-color: $color-text-accent;
		}

	}

	&__textarea {
		width: 100%;
		margin: 5px 0px;
		background-color: #bc6cff4a;
		color: $color-text-main;
		border: none;
		outline: none;
		padding: 2px 5px 0px 5px;
		resize: vertical;
	}

	&__button {
		&-place {
			margin-top: 10px;
			display: flex;
			justify-content: space-around;
		}
	}

	.editor-block {
		width: 100%;
		margin-top: 5px;

		.content-container {
			height: 50vh;
			border-left: 1px solid $color-text-dark-blur;
			border-right: 1px solid $color-text-dark-blur;
			border-bottom: 2px solid $color-text-dark-blur;
			font-size: 1.1em;
			overflow-y: auto;

			.editor {
				min-height: 50vh;
			}
		}
	}

	.image {
		&__container {
			width: 100%;
			height: 5em;
		}
		&__label{
			display: flex;
			justify-content: center;
			height: 100%;
		}

		&__img {
			// height: 100%;
			width: auto;
			background-color: $bg-color-light-blue-blur;
			box-sizing: border-box;
			padding: .2em;
		}
	}
	.block {
		.dashboard{
			display: flex;
			&__item{
				max-width: 0;
				transition: max-width $animation-fast;
				overflow: hidden;
				display: flex;
				&.selected{
					max-width: 10em;
				}
				
			}
			&:hover{
				.dashboard__item{
					max-width: 10em;
				}
			}
			&__frame{
				font-size: 2em;
				padding: .1em;
				display: flex;
				box-sizing: border-box;
				p{
					display: flex;
					justify-content: center;
					align-items: center;
					color: $bg-color-blue;
					outline: 1px solid $bg-color-light-blue;
					background-color: $bg-color-light-blue-blur;
					border-radius: 2px;
					width: 1.8em;
					&.image{
						color: $bg-color-purple;
						outline-color: $bg-color-light-purple;
						background-color: $bg-color-light-purple-blur;
					}
				}
				&.double{
					p{
						width: .9em;
					}
				}
			}
		}
	}
}