@import "tech/vars";
$size: 8em;

main {
    .images {
        &__wrapper {
            display: flex;
        }

        min-height: 40vh;
        display: flex;
        flex-wrap: wrap;
        gap: 0.5em;
        background-color: $bg-color-light-odd;
        padding: .5em;
        outline: $bg-color-dark-blur;
        border: 1px solid $bg-color-dark;

        &__dashboard {
            background-color: $bg-color-light-red-blur;
            font-size: 3em;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: .2em;
            padding: .2em;
        }

        .image {
            position: relative;
            flex: 0 1 $size;
            height: $size;
            max-width: $size+3em;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: $bg-color-light;
            padding: .5em .5em 2em .5em;
            transition: scale $animation-fast, padding $animation-fast;

            .dashboard__label {
                position: absolute;
                top: .1em;
                left: .1em;
                display: inline-block;
                height: 2em;
                width: 2em;
                cursor: pointer;
            }

            input[type="checkbox"] {
                position: absolute;
                top: .1em;
                left: .1em;
            }

            &.select_bg {
                background-color: transparentize($bg-color-light-blue, 0.5);
            }

            &__dashboard {
                display: flex;
                font-size: 1.5em;
                position: absolute;
                background-color: $bg-color-light;
                padding: .2em;
                box-sizing: border-box;
                border-radius: 0 0 0 .2em;
                top: 0;
                right: 0;
                gap: .1em;
                opacity: 0;
                transition: opacity $animation-very-fast;
            }

            &__place {
                height: 100%;
                // max-width: 100%;
            }

            &__img {
                height: 100%;
                max-width: 100%;
            }

            &__description {
                text-align: left;
                width: 100%;
                max-height: 0;
                transition: max-height $animation-fast;
                overflow: hidden;
            }

            &:hover:not(.new) {
                position: relative;
                z-index: 5;
                scale: 1.1;

                .image__dashboard {
                    opacity: .85;
                }

                .image__description {
                    max-height: 10em;
                }
            }

            &.new {
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                .label {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 5em;
                    transition: font-size $animation-fast;
                    height: 100%;
                    max-width: 100%;
                    cursor: pointer;
                }

                &:hover {
                    .label {
                        font-size: 7em;
                    }
                }
            }
            &.get-more {
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                .label {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 5em;
                    transition: font-size $animation-fast;
                    height: 100%;
                    max-width: 100%;
                    cursor: pointer;
                }

                &:hover {
                    .label {
                        font-size: 7em;
                    }
                }
                &.hidden {
                    display: none;
                }
            }

            .dropdown {
                width: 3em;
                align-self: baseline;
            }
        }
    }

    .dashboard {
        &__item {
            color: $bg-color-light-blue;
            transition: color $animation-fast;
            cursor: pointer;

            &:hover {
                color: $bg-color-blue;

                &.delete {
                    color: $bg-color-red-blur;
                }
            }
        }
    }
}