@import "tech/vars";

.pages {
	font-size: 1.15em;
	padding: 1vh 5vw;
	line-height: 1.15em;

	ol,
	ul {
		margin-bottom: 1.2em;
		margin-left: 2em;
	}

	ul {
		list-style-type: "👉";
		// list-style-type: "\1F44D";
	}

	h3,
	h4 {
		margin: 1.5em 0 .5em 0;
		font-weight: bolder;
		letter-spacing: .15em;
	}

	p {
		margin-bottom: .8em;
	}

	.text-big {
		font-size: 1.5em;
	}
}

.page {
	&__image {
		&-place {
			float: left;
			max-width: 30vw;
			border: 1px solid $bg-color-dark;
			text-indent: 0;
			box-sizing: border-box;
			margin: 0 1em 2em 0;
		}

		width: 100%;
		height: auto;
		max-height: 40vh;
		outline: 1px solid $bg-color-dark-blur;
		position: relative;
		top: -1em;
		left: -1em;
		box-shadow: .3em .3em .4em .4em $bg-color-dark-blur;
	}
}