.pages {
	font-size: 1.15em;
	padding: 1vh 5vw;

	ol,
	ul {
		// padding-left: 2.5em;
		margin-bottom: 1.2em;
	}

	h3,
	h4 {
		margin: 1.5em 0 .5em 0;
		// padding-left: 1em;
		font-weight: bolder;
		letter-spacing: .15em;
	}

	p {
		margin-bottom: .8em;
	}

	.text-big {
		font-size: 1.5em;
	}
}