@import "tech/vars";
@import "tech/mixins_adapt";

.profile {
    &__wrapper {
        background-color: $bg-color-light-odd;
        padding: 1em;
    }

    &__title {
        font-size: 1.5em;
    }

    &__content {
        display: flex;
    }

    &__sections {
        background-color: $color-text-light;
        display: flex;
        flex-direction: column;
        font-size: 1.2em;
    }

    &__section {
        padding: .1em .2em;
        margin-bottom: .3em;
        border: 1px solid $color-text-light-blur;

        .edit-section {
            opacity: 0;
            font-size: 1.3em;
            cursor: pointer;
            pointer-events: none;
            margin-left: 1em;
        }

        &.active {
            .edit-section {
                opacity: 1;
                pointer-events: all;
            }
        }
    }

    &__card {
        flex-grow: 1;
        padding: 1.5em 13.5vw 1.5em 2em;
        position: relative;
        border: 1px solid white;
        outline: 2px solid grey;
        border-radius: 2px;
        margin: 1em 2em;
        background-color: rgba(255, 249, 158, 0.856);

        .text-accent {
            color: $color-text-accent;
            text-decoration: underline;
        }

        &-title {
            font-size: 1.3em;
            text-transform: uppercase;
            letter-spacing: 0.1em;
        }

        &-row {
            padding: .1em;
            margin-bottom: .5em;

            input,
            select {
                width: 100%;
            }

            &.buttons {
                display: flex;
                justify-content: space-between;

                .button {
                    &__label {
                        display: none;
                    }

                    @include md {
                        &__label {
                            display: block;
                        }

                        &__icon {
                            display: none;
                        }
                    }
                }
            }
        }

        &-label {
            font-size: 1.1em;
            letter-spacing: 0.1em;
            margin-bottom: .1em;
        }

        &-value {
            letter-spacing: 0.05em;
            font-size: 1.3em;
            border-bottom: 1px solid $color-text-main;
            display: flex;

            button {
                font-size: 0.7em;
            }

            a {
                color: $color-text-dark;
                text-decoration: none;
            }
        }
    }

    .avatar {
        position: absolute;
        top: -1em;
        right: 0;

        &__wrapper {
            border: .2em solid $color-text-menu;
            ;
            background-color: #fdc18d;
        }

        &__image {
            img {
                display: inline-block;
                // min-width: 80px;
                max-width: 13vw;
                height: auto;
            }

        }
    }
}