@import "tech/vars";
@import "tech/mixins_adapt";

.profile {
    &__wrapper {
        background-color: $bg-color-dark-blur;
        padding: 1em;
    }

    &__title {
        font-size: 1.5em;
        color: $color-text-light;
    }

    &__content {
        display: flex;
        min-height: 65vh;
    }

    &__sections {
        background-color: $bg-color-dark-blur;
        display: flex;
        flex-direction: column;
        font-size: 1.2em;
        color: $bg-color-light;
        padding: 1em .2em;

        hr {
            margin-bottom: .2em;
        }
    }

    &__section {
        padding: .1em;
        margin-bottom: .3em;
        display: flex !important;
        align-items: center;
        border: 1px solid $bg-color-dark-blur;
        cursor: pointer;
        transition: border-color $animation-fast;

        &::before {
            display: inline-block;
            width: 1.7em;
            text-align: center;
        }

        &:hover {
            border-color: $bg-color-dark;
        }

        .edit-section {
            opacity: 0;
            font-size: 1.2em;
            cursor: pointer;
            pointer-events: none;
            margin-left: 1.2em;
            transition: color $animation-fast;

            &:hover {
                color: $bg-color-light-red;
            }
        }

        &.active {
            border-color: $bg-color-red-blur;

            .edit-section {
                opacity: 1;
                pointer-events: all;
            }
        }
    }

    &__card {
        flex-grow: 1;
        flex-shrink: 1;
        padding: 1.5em 5vw 1.5em 2em;
        position: relative;
        border-radius: 2px;
        background-color: $bg-color-light-odd;
        @include md {
            padding: 1.5em 13.5vw 1.5em 2em;
        }
        .text-accent {
            color: $color-text-accent;
            text-decoration: underline;
            margin-left: .2em;

            &.small {
                font-size: .9em;
            }

            &[data-action-click] {
                cursor: pointer;
            }
        }

        &-title {
            font-size: 1.3em;
            letter-spacing: .06em;
        }

        &-row {
            padding: .1em;
            margin-bottom: .5em;

            input,
            select {
                width: 100%;
            }

            &.buttons {
                display: flex;
                justify-content: space-between;

                .button {
                    &__label {
                        display: none;
                    }

                    @include md {
                        &__label {
                            display: block;
                        }

                        &__icon {
                            display: none;
                        }
                    }
                }
            }
        }

        &-label {
            font-size: .7em;
            letter-spacing: 0.1em;
            margin-bottom: .1em;
            color: $color-text-dark-blur;

            &::after {
                content: ':';
            }
        }

        &-value {
            letter-spacing: 0.05em;
            font-size: 1.3em;
            border-bottom: 1px solid $color-text-main;
            display: flex;
            text-align: start;
            display: inline-block;
            width: min(100%, 55vw);

            @include md {
                font-size: 1.35rem;
                width:100%;
            }

            button {
                font-size: 0.7em;
            }

            a {
                color: $color-text-dark;
                text-decoration: none;
            }
        }
    }

    .avatar {
        display: flex;
        justify-content: center;
        @include md {
            position: absolute;
            top: -1em;
            right: 0;
        }

        &__wrapper {
            position: relative;
            border: .2em solid $bg-color-light;
        }
        &__edit {
            position: absolute;
            top: .3em;
            right: .3em;
            font-size: 3em;
            padding: .1em .1em 0 .2em;
            border-radius: 3px;
            color: $bg-color-purple-blur;
            opacity: .6;
            transition: color $animation-fast, opacity $animation-fast, background-color $animation-fast;
            cursor: pointer;
            &:hover{
                color: $bg-color-purple;
                opacity: .8;
                background-color: $bg-color-light-green-blur;
            }
            @include md {
                font-size: 2em;
            }
        }

        &__image {
            img {
                display: inline-block;
                max-width: 40vw;
                height: auto;

                @include md {
                    max-width: 15vw;
                }
            }

        }

        .empty {
            background-color: $bg-color-light-red-blur;
        }
    }

    fieldset {
        margin-bottom: .6em;
    }

    .section-label {
        display: none;

        @include md {
            display: inline;
        }
    }
}