@import "tech/vars";
@import "tech/mixins_adapt";
@import "tech/components";

.settings {
    display: flex;
    background-color: $bg-color-light-odd;
    min-height: 70vh;

    &__categories {
        @extend %asideMenu;
    }

    &__category {
        @extend %asideMenuItem;
    }

    &__value {
        max-width: 30vw;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer;
    }

    &__content {
        width: 100%;
        padding: 1.5em;
        font-size: .9em;
    }

    &__table {
        width: 100%;
        border-collapse: collapse;

        tr {
            line-height: 1.5em;
            transition: border-color $animation-fast;
            border-bottom: 1px solid $bg-color-dark-blur;

            td {
                padding: .3em 0 .05em .3em;

            }

            &:hover {
                border-bottom: 1px solid $bg-color-light-red;
            }
        }
    }

    &__dasboard {
        text-align: right;
    }
}