@import "tech/normalize";
@import "tech/mixins_adapt";
@import "tech/font-awesome";
@import "tech/vars";
@import "tech/components";

// @import url("https://fonts.googleapis.com/css2?family=Underdog&display=swap");

:root {
	font-size: 16px;
}

body {
	min-height: 100vh;
	margin: 0;
	background-color: $body-bg-color;
	background-image: url(/public/images/background.jfif), linear-gradient(90deg, $bg-color-red 0, $bg-color-light 40%, $bg-color-dark 100%);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed, fixed;
	background-blend-mode: multiply;
	padding: 0;
	display: grid;
	place-items: center;
	color: $color-text-main;
	overflow-x: hidden;
	// font-family: "Roboto", sans-serif;
	font-family: "Ubuntu", sans-serif;
	font-size: clamp($font-size-main-sm, 1.4vw, $font-size-main-xl);
}

.header-for-auto-scroll {
	position: absolute;
	top: 0;
}

.wrapper {
	width: 100vw;
	height: 100%;
	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-template-columns: auto;
	// background: linear-gradient(90deg, $bg-color-dark-blur 0%, $bg-color-dark 100%);

	@include md {
		display: flex;
		flex-direction: column;
		height: 100%;
	}
}

.header {
	position: sticky;
	top: 0px;
	box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.5);
	z-index: 1;

	&__content {
		background: $main-header-bg-dark;
		color: $color-text-light;
		height: 10vh;
		min-height: 1.5rem;
		max-height: 3.5rem;
		align-items: center;
		font-size: 1.3em;
		padding: .4rem 3vw .4rem 0;
		display: flex;
		justify-content: space-between;
	}

	&__logo {
		order: 2;
		height: 80%;
		border: 1px solid #f6f4f3;
		border-radius: 7px;
		padding: 0 0.3rem;
		overflow: hidden;
		-o-object-fit: cover;
		object-fit: cover;

		img {
			height: 100%;
		}
	}

	&__options {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__langs {
		display: flex;
		margin: .2em 0 .2em 1em;
	}

	&__lang {
		font-size: 1.5em;
		margin-right: .4em;
		line-height: .85em;
		cursor: pointer;
		text-decoration: none;

		&.selected {
			border-radius: 2px;
			box-shadow: 0 0 .3em .3em $color-text-light-blur inset, 0 0 .1em .1em $color-text-light-blur;
		}
	}

	@import 'header/navigation';
	@import 'header/profile';
	@import 'header/dashboard';
}

.main {
	flex: 1 0 auto;
	margin: 0 .7em;
	@import 'main/section';
}

@import 'main/footer';

@include md {

	.header__content,
	.footer {
		padding: .7rem 10vw !important;
	}

	.footer__gmap {
		display: block;
	}

	.header {
		justify-content: normal;

		label.navigation-for-small-display {
			display: none;
		}

		&__dashboard {
			padding: 0 10vw !important;
		}

		&__logo {
			order: 1;
			margin-right: 2vw;
		}

		&__options {
			order: 2;
			align-items: flex-start !important;
		}

		&__langs {
			margin-left: 0 !important;
		}

		&__lang {
			font-size: 1em !important;
			margin-right: .8em !important;
		}

		.profile {
			order: 3;
			margin-left: auto;
		}
	}

	.main {
		// margin: 20px 5vw !important;

		.booking {
			&__participant {
				&-name {
					width: 20vw;
				}
			}
		}
	}
}

@include lg {
	.footer {
		padding: .8rem 15vw !important;
	}

	.header {

		&__content {
			padding: .8rem 15vw !important;
		}

		&__dashboard {
			padding: 0 15vw !important;
		}

		&__logo {
			margin-right: 3vw;
		}
	}

	.main {
		padding: .7rem 15vw !important;
	}

	.setting-text-dashboard {
		width: 70vw !important;
	}
}

@include xl {

	.header__content,
	.footer {
		padding: 1rem 10vw !important;
	}

	.header__dashboard {
		padding: 0 10vw !important;
	}

	.main {
		padding: 40px 10vw !important;
	}

	.setting-text-dashboard {
		width: 60vw !important;
	}
}

@import "modals";
@import "news";
@import "weeks";
@import "booking";
@import "profile";
@import "users-list";
@import "noticer";
@import "popups";