@import "normalize";
@import "mixins_adapt";
@import "font-awesome";
@import "vars";
@import "components";

:root {
    font-size: 14px;
}

body {
    min-height: 100vh;
    margin: 0;
    background-color: $body-bg-color;
    padding: 0;
    display: grid;
    place-items: center;
    color: $color-text-main;
    overflow-x: hidden;
    font-family: "Ubuntu", sans-serif;
    font-size: clamp($font-size-main-sm, 1.4vw, $font-size-main-xl);
}

.header-for-auto-scroll {
    position: absolute;
    top: 0;
}

.wrapper {
    width: 100vw;
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto;
    padding-right: 1em;

    @include md {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .header {
        position: sticky;
        padding-right: 20px;
        top: 0px;
        box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.5);
        z-index: 1;

        &__content {
            background: $main-header-bg-dark;
            color: $color-text-light;
            font-size: 1.3em;
        }

        &__profile {
            padding: .5em 1em;

            a {
                color: $color-text-light;
                text-decoration: none;
            }
        }

        &__menu {
            display: flex;
            gap: .3em;

            &-item {
                flex: 1 1 19vh;
                height: 5em;
                list-style: none;
                display: flex;
                justify-content: center;

                a {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    height: 100%;
                    border-radius: 1em;
                    padding: .2em .4em;
                    box-sizing: border-box;
                    text-decoration: none;
                    border-top: 2px solid $color-text-light;
                    border-bottom: 1px solid $color-text-light;
                    background-color: transparent;
                    color: $color-text-light;
                    transition: color $animation-fast, border-color $animation-fast;

                    &:hover {
                        border-color: $color-text-menu;
                        color: $color-text-menu;
                    }

                    img,
                    svg {
                        height: 100%;
                    }
                }
            }

            @import "icons";
        }

        .dashboard {
            padding: 0 3vw 0 0;
            font-size: 2em;
            position: relative;
            background-color: $bg-color-light;

            &__list {
                display: none;
                gap: .3em;
            }

            &__item {
                list-style: none;
                padding: .1em 0;

                a {
                    padding: 0.1em;
                    text-decoration: none;
                    border: 1px solid $color-text-light-blur;
                    border-radius: 2px;
                    color: $color-text-dark-blur;
                    transition: color $animation-normal, border-color $animation-normal, background-color $animation-normal;

                    &:hover {
                        color: $color-text-dark;
                        border-color: $color-text-dark;
                        background-color: $body-bg-color;
                    }
                }
            }

            &__hide,
            &__show {
                font-size: 0.8em;
                position: absolute;
                right: 0;
                background-color: $bg-color-light-odd;
                border: 1px solid $color-text-light-blur;
                border-top: none;
                border-radius: 0 0 5px 5px;
                padding: .05em .1em;
                cursor: pointer;
            }

            &__hide {
                display: none;
            }

            #dashboard-control {
                &:checked {
                    ~.dashboard__list {
                        display: flex;
                    }

                    ~.dashboard__hide {
                        display: block;
                    }

                    ~.dashboard__show {
                        display: none;
                    }
                }
            }
        }

        &__logo {
            order: 2;
            height: 80%;
            border: 1px solid #f6f4f3;
            border-radius: 7px;
            padding: 0 0.3rem;
            overflow: hidden;
            -o-object-fit: cover;
            object-fit: cover;

            img {
                height: 100%;
            }
        }

        &__options {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__langs {
            display: flex;
            margin: .2em 0 .2em 1em;
        }

        &__lang {
            font-size: 1.5em;
            margin-right: .4em;
            line-height: .85em;
            cursor: pointer;
            text-decoration: none;

            &.selected {
                border-radius: 2px;
                box-shadow: 0 0 .3em .3em $color-text-light-blur inset, 0 0 .1em .1em $color-text-light-blur;
            }
        }

        &__navigation {
            list-style: none;
            display: flex;
            justify-content: space-between;
            color: $color-text-menu;
            gap: .8em;

            &-item {
                cursor: pointer;
                color: $color-text-menu;
                font-family: 'Crimson Pro', serif;
                white-space: nowrap;

                a {
                    color: $color-text-menu;
                    text-decoration: none;
                }

                &:hover {
                    .bar {
                        width: 100%;
                        opacity: 1;
                    }
                }

                .bar {
                    height: 5px;
                    width: 0px;
                    border-radius: 0 0 10px 0px;
                    opacity: 0;
                    background: linear-gradient($color-text-menu, transparent);
                    transition: all $animation-fast ease-in;
                }
            }
        }

        .navigation-for-small-display {
            cursor: pointer;
            font-size: 2em;

            &-chechbox {
                display: none;
            }

            &.menu-hide {
                position: absolute;
                top: 1em;
                left: 1em;
            }

            &.menu-show {
                margin: 0 1em;
            }

        }

        @include sm {
            &__navigation {
                flex-direction: column;
                justify-content: center;
                height: 100vh;
                position: fixed;
                top: 0;
                left: -100%;
                background-color: $bg-color-dark;
                z-index: 1;
                transition: left $animation-fast ease-in-out;

                &-item {
                    margin: 5px 20px;
                    font-size: 1.5em;
                }
            }

            #header__navigation-checkbox:checked {
                ~#header__navigation {
                    left: 0px;
                }
            }
        }
    }

    .main {
        flex: 1 0 auto;

        .section {
            padding: 1.2em .7em;
            text-align: justify;
            color: $color-text-dark;

            &.game {
                padding: 0;
            }

            .title {
                font-size: 2.5em;
                letter-spacing: .05em;
                line-height: 1.3em;
                font-weight: bolder;
                margin-bottom: .3em;
            }

            .subtitle {
                font-size: 1.7em;
                line-height: 1.3em;
                margin-bottom: .5em;
            }

            &:nth-child(even) {
                background-color: $bg-color-light;
            }

            &.about-game {
                padding: 30px 8vw 40px 5vw;
            }
        }
    }
}

.footer {
    background: $main-footer-bg-dark;
    margin-top: 5em;
    padding: .4rem 3vw !important;
    flex: 0 0 auto;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.5);
    font-size: 0.7em;
    color: $color-text-light-blur;

    &__copyrights {
        margin: 5px 0px 5px 0px;
        font-size: 0.7em;
    }

    .setting-text-dashboard {
        width: 80vw;
    }

    &__content {
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        gap: 1em
    }

    &__block {
        box-sizing: border-box;

        &.contacts {
            display: flex;
            flex-direction: column;
        }
    }

    &__gmap {
        display: none;

        iframe {
            width: 100%;
        }
    }

    &__adress {
        display: flex;
        flex-direction: column;
        font-size: 1.1em;
        line-height: 1.3em;

        &-link {
            font-size: 1.3em;
            line-height: 2em;
        }
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        font-size: 1.1em;
        line-height: 1.2em;
        letter-spacing: 0.05em;
        flex-grow: 1;

        &-link {
            font-size: 1.3rem;
            line-height: 1.7em;
        }
    }

    &__socials {
        font-size: 2em;
        line-height: 1.3em;

        * {
            margin-right: 1em;
        }
    }

    &__logo {
        // filter: drop-shadow(10px -5px 5px #d90000);
        height: 4em;
        border: 1px solid #f6f4f3;
        border-radius: 7px;
        padding: 0.1rem 0.3rem;
        text-align: center;

        img {
            height: 100%;
        }
    }

    a {
        text-decoration: none;
        color: $color-text-menu;
        white-space: nowrap;
    }
}

/* @include md {

    .header__content,
    .footer {
        padding: .7rem 10vw !important;
    }

    .footer__gmap {
        display: block;
    }

    .header {
        justify-content: normal;

        label.navigation-for-small-display {
            display: none;
        }

        &__dashboard {
            padding: 0 10vw !important;
        }

        &__logo {
            order: 1;
            margin-right: 2vw;
        }

        &__options {
            order: 2;
            align-items: flex-start !important;
        }

        &__langs {
            margin-left: 0 !important;
        }

        &__lang {
            font-size: 1em !important;
            margin-right: .8em !important;
        }

        &__profile {
            order: 3;
            margin-left: auto;
        }
    }

    .section {
        padding: 20px 10vw !important;

        .booking {
            &__participant {
                &-name {
                    width: 20vw;
                }
            }
        }
    }
}

@include lg {
    .footer {
        padding: .8rem 15vw !important;
    }

    .header {

        &__content {
            padding: .8rem 15vw !important;
        }

        &__dashboard {
            padding: 0 15vw !important;
        }

        &__logo {
            margin-right: 3vw;
        }
    }

    .section:not(.news-preview) {
        padding: .7rem 15vw !important;
    }

    .setting-text-dashboard {
        width: 70vw !important;
    }
}

@include xl {

    .header__content,
    .footer {
        padding: 1rem 20vw !important;
    }

    .header__dashboard {
        padding: 0 20vw !important;
    }

    .section:not(.news-preview) {
        padding: 40px 20vw !important;
    }

    .setting-text-dashboard {
        width: 60vw !important;
    }
} */

@import "modals";
@import "news";
@import "page";
@import "weeks";
@import "booking";
@import "game";
@import "profile";
@import "users-list";
@import "settings";
@import "noticer";
@import "popups";

.dropdown {
    position: relative;

    &__menu {
        position: absolute;
        background-color: $bg-color-red-blur;
        display: none;
        box-shadow: 0 0 10px 3px #1515158a;
        z-index: 3;
    }

    &:hover {
        >.dropdown__menu {
            display: block;
        }
    }

    &__item {

        margin: 5px;
        padding: 3px 10px;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        // align-items: center;
        font-size: 1.3rem;
        color: $color-text-menu;
        white-space: nowrap;
        cursor: pointer;

        &:hover {
            >.dropdown__bar {
                width: 100%;
                opacity: 1;
            }
        }
    }

    &__bar {
        width: 0px;
        height: 2px;
        opacity: 0;
        border-radius: 0 0 25px 25px;
        background-color: $color-text-menu;
        transition: width $animation-fast ease-in;
    }
}

.header__dropdown-menu {
    &-label {
        cursor: pointer;
    }

    &-list {
        display: none;
    }

    &-checkbox {
        display: none;

        &:checked {
            &~.header__dropdown-menu-list {
                display: block;
            }
        }
    }

    &-list {
        display: none;
        position: absolute;
        top: 30px;
        left: 0;
        background-color: $bg-color-red-blur;
        list-style: none;
        border-radius: 5px;

        &-item {
            margin: 5px;
            padding: 3px 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 1.3rem;
            color: $color-text-menu;
            white-space: nowrap;
            cursor: pointer;

            a {
                color: $color-text-menu;
                text-decoration: none;
                text-align: left;
            }

            &:last-of-type {
                margin-top: 15px;
            }

            &:hover {
                & .header__dropdown-menu-list-item-bar {
                    width: 100%;
                    opacity: 1;
                }
            }

            &-bar {
                width: 0px;
                height: 2px;
                opacity: 0;
                border-radius: 0 0 25px 25px;
                background-color: $color-text-menu;
                transition: all $animation-fast ease-in;
            }
        }
    }
}