@import "tech/vars";
@import "tech/mixins_adapt";

.section-users-list {
    padding: 1.5em 2em !important;
    background-color: $bg-color-light;
}

.users-list {
    border-collapse: collapse;

    thead {
        background-color: $bg-color-light-odd;
    }

    tr {
        transition: color $animation-normal ease-in, transform $animation-fast;
        border-bottom: 1px dashed $color-text-dark-blur;
        line-height: 1.5em;

        &:hover {
            transform: translateY(-1px);
            color: $color-text-menu;
        }
    }

    &__avatar {
        height: 2em;
        width: auto;
    }

    &__dashboard {
        padding-top: .15em;
        display: flex;
        justify-content: space-evenly;
        font-size: 1.5em;

        span {
            cursor: pointer;
            transition: color $animation-fast ease-in;

            &:hover {
                color: $color-text-accent;
            }
        }
    }
}