.profile {
    order: 3;
    // margin-left: auto;
    display: flex;
    position: relative;
    align-items: center;
    z-index: 5;

    &__button {
        // background-color: #9fc0ff33;
        background-color: $bg-profile-button;
        border: 1px solid $color-text-main;
        border-radius: 5px;
        padding: 5px 10px;
        max-height: 40px;
        cursor: pointer;
        transition: all $animation-fast ease-in;

        &:hover {
            background-color: $color-text-main;
            color: $color-text-accent;
        }

        img {
            max-height: 40px;
            border-radius: 3px;
        }
    }

    &__caret {
        margin-left: 10px;
        font-size: 1.1em !important;
        cursor: pointer;

        a,
        i {
            color: $color-text-light-blur;
            transition: color $animation-fast;

            &:hover {
                color: $color-text-light;
            }
        }
    }

    &__checkbox {
        display: none;

        &:checked {
            &~.profile__menu {
                display: block;
            }
        }
    }

    &__menu {
        order: 1;
        display: none;
        position: absolute;
        top: 30px;
        right: 0;
        background-color: $bg-color-red-blur;
        list-style: none;
        border-radius: 5px;

        &__item {
            margin: 5px;
            padding: 3px 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 1rem;
            color: $color-text-menu;
            white-space: nowrap;
            cursor: pointer;

            a {
                color: $color-text-menu;
                display: block;
                width: 100%;
                text-align: center;
                text-decoration: none;
            }

            &:last-of-type {
                margin-top: 15px;
            }

            &:hover {
                & .header__profile-menu-bar {
                    width: 100%;
                    border-radius: 0 0 25px 25px;
                    opacity: 1;
                }
            }
        }

        &-bar {
            width: 0px;
            height: 2px;
            opacity: 0;
            background-color: $color-text-menu;
            transition: all $animation-fast ease-in;
        }
    }
}