/rudiments/*
git-get.bat
git-push.bat
git-stash.bat
.prettierrc.json
composer.phar
tg-message.txt
.env.dev
/vendor/*
/public/scripts/*.js
/public/backups/*
/public/gallery/site/*.jpg
/public/gallery/site/*.jpeg
/public/gallery/site/*.png
/public/gallery/site/*.webp
composer.phar