@import '../tech/vars';

$itemsHeight: 8em;

.images {
    max-width: 80vw;

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: .5em;
        max-height: 30vw;
        overflow-y: auto;
        scrollbar-width: thin;
        padding: .5em;
        background-color: $bg-color-light-odd;
        background-image: linear-gradient(45deg, $bg-color-dark-blur 25%, transparent 25%, transparent 74%, $bg-color-dark-blur 75%, $bg-color-dark-blur), linear-gradient(45deg, $bg-color-dark-blur 25%, transparent 25%, transparent 74%, $bg-color-dark-blur 75%, $bg-color-dark-blur);
        background-size: 10px 10px;
        background-position: 0 0, 5px 5px;
        border: 1px solid $bg-color-dark;
        box-sizing: border-box;
    }

    &__item {
        position: relative;
        display: inline-block;
        height: $itemsHeight;
        width: auto;
        padding: .1em;
        box-sizing: border-box;
        border-radius: 3px;
        border: 1px dashed $bg-color-light-blue;
        cursor: pointer;

        &:hover {
            border: 1px solid $bg-color-blue;
        }

        input[type='checkbox'] {
            position: absolute;
            top: .3em;
            left: .3em;
            transform: scale(1.3);
            cursor: pointer;
            transition: box-shadow $animation-very-fast;


            &:hover {
                box-shadow: 0 0 1px 3px $bg-color-light-red;
            }

            &:checked+img {
                box-shadow: 0 0 1px 3px $bg-color-light-red;
            }
        }
    }

    &__image {
        height: 100%;
        width: auto;
        transition: box-shadow $animation-very-fast;
    }

    .new {
        label {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 2em;
            box-sizing: border-box;
            border: 1px dashed $bg-color-light-blue;
            background-color: $bg-color-light-blue-blur;
            font-size: 3em;
            height: $itemsHeight/3;
            cursor: pointer;
            color: $bg-color-light-blue;
            transition: color $animation-fast;

            &:hover {
                color: $bg-color-blue-blur;
            }
        }
    }

    .get-more {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2em;
        box-sizing: border-box;
        border: 1px dashed $bg-color-light-blue;
        background-color: $bg-color-light-blue-blur;
        font-size: 3em;
        height: $itemsHeight/3;
        cursor: pointer;
        color: $bg-color-light-blue;
        transition: color $animation-fast;

        &:hover {
            color: $bg-color-blue-blur;
        }

        &.hidden {
            display: none;
        }
    }

    input[type="file"] {
        display: none;
    }
}