aside.images {
    position: fixed;
    z-index: -1;
    flex-direction: column;
    display: none;
    padding-top: 10vh;

    &.left {
        left: 0;
    }

    .image {
        max-height: 25vh;
        width: max-content;
        background-color: #f6f4f3;
        padding: .5em .5em 2em .5em;
        box-sizing: border-box;
        margin-bottom: -5vh;
        box-shadow: 2px 2px 5px 0px $bg-color-dark-blur;

        &:nth-of-type(even) {
            rotate: 5deg;
        }

        &:nth-of-type(odd) {
            rotate: -10deg;
        }
    }

    &.right {
        right: 0;
        align-items: end;

        .image {
            &:nth-of-type(odd) {
                rotate: 5deg;
            }

            &:nth-of-type(even) {
                rotate: -15deg;
            }
        }
    }

    @include md {
        display: flex;
    }
}