@import 'vars';

%nonDeleteTextForInput {
	position: relative;
	display: flex;

	.non-delete-text {
		pointer-events: none;
		position: absolute;
		right: 2%;
		top: 2px;
		color: #455ace8a;

		&.left {
			left: 2px;
		}
	}
}

.hidden {
	display: none;
}

button,
a.button {
	background: $bg-color-red-blur;
	font-weight: bold;
	font-size: .8em;
	line-height: 1.2em;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: $color-text-light-blur;
	padding: 0.8em 1.3em;
	outline: none;
	border: 1px solid $color-text-light-blur;
	border-radius: 2px;
	cursor: pointer;
	text-decoration: none;
	transition: all $animation-fast ease-in;

	&:hover {
		background-color: $bg-color-red;
		color: $color-text-light;
	}

	&.negative {
		.fa {
			pointer-events: none;
		}

		&:hover {
			color: $button-color-negative;
			background-color: $button-bg-color-negative-hover;
			// color: #c41919;
			// background-color: #ffcfdc;
		}
	}

	&.positive {
		.fa {
			pointer-events: none;
		}

		&:hover {
			color: $button-color-positive;
			background-color: $button-bg-color-positive-hover;
			border-color: $button-bg-color-positive-hover;
		}
	}

	&.neutral {
		.fa {
			pointer-events: none;
		}

		&:hover {
			background-color: #7e80ff;
			border-color: #583966;
			color: #202e79;
		}
	}
}

.setting-text-dashboard {
	font-size: 2rem;
	text-align: right;

	&__button {
		cursor: pointer;
		transition: all $animation-fast ease-in-out;

		&:hover {
			color: $color-text-menu;
		}
	}
}

.checkbox-styled {
	text-align: center;
	color: $color-text-dark-blur;
	outline: 1px solid;
	padding: .5em 1em;
	border-radius: 2px;

	&__label {
		text-transform: uppercase;
		cursor: pointer;
	}

	&-checkbox {
		display: none;
	}

	&-checkbox:checked+&__label {
		color: $color-text-accent;
		filter: drop-shadow(0px 0px 0.5rem $color-text-accent) drop-shadow(0px 0px 0.5rem $color-text-accent);
	}
}

.cb {
	text-align: center;
	color: $color-text-dark-blur;
	border: 1px solid;
	border-radius: 2px;
	margin-left: .5em;

	&__label {
		text-transform: uppercase;
		cursor: pointer;
		padding: .1em .3em;

		&.fa {
			font-size: 2em;
		}

		&:hover {
			outline: dotted 1px;
		}
	}

	&__checkbox {
		display: none;
	}

	&__checkbox:checked+&__label {
		color: $color-text-accent;
		filter: drop-shadow(0px 0px 0.5rem $color-text-accent) drop-shadow(0px 0px 0.5rem $color-text-accent);
	}
}

blockquote {
	margin: 0;
	padding: 10px 10px 10px 30px;
	position: relative;
	font-family: 'Lato', sans-serif;
	font-weight: 300;

	&::before {
		content: "\201c";
		float: left;
	}
}

%asideMenu {
	flex: 0 0 15vw;
	border: 1px solid white;
	padding: .5em .3em;
	background-color: $bg-color-red;
	color: $color-text-light;
}

%asideMenuItem {
	list-style: none;
	font-size: 1.3em;
	line-height: 1.2em;
	letter-spacing: .03em;
	padding: .1em 0 .1em .5em;
	margin-bottom: .25em;
	border: 1px solid white;
	border-radius: 2px;
	transition: background-color $animation-fast linear;
	display: flex;
	justify-content: space-between;

	.section-label {
		display: none;
		margin-left: 1em;
		margin-right: auto;

		@include md {
			display: block;
		}
	}

	&.active {
		background-color: $bg-color-dark;
		color: $color-text-light;
	}

	&:not(.active):hover {
		background-color: $bg-color-red-blur;
		cursor: pointer;
	}
}

mark {
	&.pen-red {
		background-color: unset;
		color: $color-text-accent;
	}
}

.schelude {
	&__title {
		margin-top: 20px;
		margin-bottom: 15px;
		font-size: 3em;
		display: flex;
		justify-content: space-between;
		text-align: justify;

		&-link,
		&-dummy {
			color: $color-text-dark-blur;
			font-size: 0.7em;
			align-self: flex-end;
		}

		&-dummy {
			color: $color-text-dark-blur;
			font-size: 0.7em;
			align-self: center;
		}

		&>span {
			text-align: center;
			line-height: 1em;
		}

	}
}

.paginator {
	display: flex;
	justify-content: center;

	&__links {
		padding: 1.3em 10px;

		>span {
			margin: 0 .6em;
			padding: 3px 5px;
			align-self: flex-end;
			cursor: default;
			border: 1px solid $color-text-main;
			background-color: $color-text-light;
			color: $bg-color-dark;
		}

		>a {
			margin: 0px .1em;
			padding: 3px 5px;
			border: 1px solid $color-text-main;
			text-decoration: none;
			background-color: $color-text-light;
			color: $bg-color-dark;
			transition: all $animation-fast ease-in;

			&:hover {
				background-color: $color-text-main;
				color: $color-text-accent;
			}

			&.active {
				margin: 0px 10px;
				border: 1px solid $bg-color-dark;
				background-color: $bg-color-light-blue-blur;
			}

			&:not([href]) {
				cursor: not-allowed;

				&:hover {
					background-color: $color-text-menu;
					color: $color-text-dark-blur;
				}
			}
		}
	}
}

.read-more {
	position: absolute;
	bottom: 20px;
	width: 88%;
	font-size: 0.7em;

	&__link {
		float: right;
		color: $color-text-main;
		cursor: pointer;
	}
}


.dropdown {
	position: relative;

	&__menu {
		position: absolute;
		background-color: $bg-color-red-blur;
		display: none;
		box-shadow: 0 0 10px 3px #1515158a;
		z-index: 3;
	}

	&:hover {
		>.dropdown__menu {
			display: block;
		}
	}

	&__item {

		margin: 5px;
		padding: 3px 10px;
		display: flex;
		flex-direction: column;
		// justify-content: center;
		// align-items: center;
		font-size: 1.3rem;
		color: $color-text-menu;
		white-space: nowrap;
		cursor: pointer;

		&:hover {
			>.dropdown__bar {
				width: 100%;
				opacity: 1;
			}
		}
	}

	&__bar {
		width: 0px;
		height: 2px;
		opacity: 0;
		border-radius: 0 0 25px 25px;
		background-color: $color-text-menu;
		transition: width $animation-fast ease-in;
	}
}

.header__dropdown-menu {
	&-label {
		cursor: pointer;
	}

	&-list {
		display: none;
	}

	&-checkbox {
		display: none;

		&:checked {
			&~.header__dropdown-menu-list {
				display: block;
			}
		}
	}

	&-list {
		display: none;
		position: absolute;
		top: 30px;
		left: 0;
		background-color: $bg-color-red-blur;
		list-style: none;
		border-radius: 5px;

		&-item {
			margin: 5px;
			padding: 3px 10px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			font-size: 1.3rem;
			color: $color-text-menu;
			white-space: nowrap;
			cursor: pointer;

			a {
				color: $color-text-menu;
				text-decoration: none;
				text-align: left;
			}

			&:last-of-type {
				margin-top: 15px;
			}

			&:hover {
				& .header__dropdown-menu-list-item-bar {
					width: 100%;
					opacity: 1;
				}
			}

			&-bar {
				width: 0px;
				height: 2px;
				opacity: 0;
				border-radius: 0 0 25px 25px;
				background-color: $color-text-menu;
				transition: all $animation-fast ease-in;
			}
		}
	}
}